# vi files
*~
.*.swp

# eclipse files
/.build
/.includepath
/.project
/.classpath
/.settings
/.externalToolBuilders

# build files
blib/
Makefile
MYMETA.yml
pm_to_blib
/MYMETA.json
/Maven*.tar.gz
/Maven*
/*.html
/*.tmp
